<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8" />
	<title>Carrito</title>
	<link rel="icon" type="image/png" th:href="@{/img/favicon.png}">
	<link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.min.css}" />
	<link rel="stylesheet" type="text/css" th:href="@{/css/custom.css}" />
	<script type="text/javascript" th:src="@{/js/jquery-3.5.1.min.js}"></script>
	<script type="text/javascript" th:src="@{/js/bootstrap.min.js}"></script>
	<script type="text/javascript" th:src="@{/js/popper.min.js}"></script>
	<script defer src="https://use.fontawesome.com/releases/v5.0.6/js/all.js"></script>
	<script type="text/javascript" th:src="@{/js/jquery.cookie.js}"></script>
	<script th:src="@{/js/funciones.js}"></script>
</head>
<body>
	<div th:replace= "header :: myheader"></div> 
	<div class="container">
		<div class="container-carrito-js">
			<div class="carrito-title">
				<h3>Mi carrito <small class="carrito-items-all"></small></h3>
			</div>
			<table class="table table-borderless carrito-items-table">
			  <thead>
			    <tr>
			      <th scope="col">N°</th>
			      <th scope="col">Foto</th>
			      <th scope="col">Descripción</th>
			      <th scope="col" class="quantity-cart">Cantidad</th>
			      <th scope="col" class="money-cart">Precio</th>
			      <th scope="col" class="remove-cart"></th>
			    </tr>
			  </thead>
			  <tbody>
			  </tbody>
			</table>
			<div class="row subtotal">
			<div class="col left">
			<h4>Subtotal</h4>
			</div>
			<div class="col right">
				<h4 class="subtotal-cart">S/. 0.00</h4>
			</div>
			</div>
			<div class="row buttons">
				<a href="/catalogo" class="btn btn-outline-primary continue">Seguir comprando</a>
				<button type="button" class="btn btn-outline-primary continue" id="vaciarCarrito" disabled>Vaciar carrito</button>
				<button type="button" class="btn btn-outline-secondary confirm" id="irAlCheckout" disabled>Confirmar compra</button>
			</div>			
			</div>
	</div>	
</body>
</html>