<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
<title>Insert title here</title>
<link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.min.css}" />
<script type="text/javascript" th:src="@{/js/jquery-3.5.1.min.js}"></script>
<script type="text/javascript" th:src="@{/js/bootstrap.min.js}"></script>
<script type="text/javascript" th:src="@{/js/popper.min.js}"></script>
</head>
<body>

	<div class="row justify-content-center">
		<div class="col-md-4-mt-5">
			<div class="alert alert-success" th:if="${sucess!=null}"
				th:text="${success}"></div>
		</div>
	</div>
	<div class="container">
	<br>
		<div class="col-sm-6">
			<form th:action="@{/editars}" th:object="${producto}" method="POST"
				enctype="multipart/form-data">
				<div class="card">
					<div class="card-header text-white bg-success">
						<h3>Editar Producto</h3>
					</div>
					<div class="card-body">
						<div class="form-group">
							<label>ID</label> <input th:field="*{idproducto}" type="text"
								class="form-control" placeholder="Ingrese Nombre" />
								<small class="form-text text-danger" th:if="${#fields.hasErrors('nombre')}" th:errors="*{nombre}"></small>
						</div>
						<div class="form-group">
							<label>Nombre</label> <input th:field="*{nombre}" type="text"
								class="form-control" placeholder="Ingrese Nombre" />
								<small class="form-text text-danger" th:if="${#fields.hasErrors('nombre')}" th:errors="*{nombre}"></small>
						</div>
						<div class="form-group">
							<label>Descripcion</label> <input th:field="*{descripcion}"
								type="text" class="form-control" placeholder="Ingrese Descripcion"/>
								<small class="form-text text-danger" th:if="${#fields.hasErrors('descripcion')}" th:errors="*{descripcion}"></small>
						</div>
						<div class="form-group">
							<label>Cantidad</label> <input th:field="*{cantidad}" type="text"
								class="form-control" placeholder="Ingrese Cantidad" />
								<small class="form-text text-danger" th:if="${#fields.hasErrors('cantidad')}" th:errors="*{cantidad}"></small>
						</div>
						<div class="form-group">
							<label>Precio</label> <input th:field="*{precio}" type="text"
								class="form-control" placeholder="Ingrese Precio" />
								<small class="form-text text-danger" th:if="${#fields.hasErrors('precio')}" th:errors="*{precio}"></small>
						</div>
						<div class="form-group"> 
						 	<label>Estado(Disponible=1/No Disponible=0)</label>
						 	<input th:field="*{estado}" type="text" class="form-control" placeholder="Ingrese Estado del producto"/>
						 	<small class="form-text text-danger" th:if="${#fields.hasErrors('estado')}" th:errors="*{estado}"></small>
					 	</div>
						<div class="form-group">
						<label>Categoria  </label> 
							<select class="browser-default custom-select col-md-4"
								th:field="*{categoria}">
								<option value="10" th:text="'No Categorizado'"></option>
								<option th:each="cat :${categoria}"
									th:value="${cat.idcategoria}" th:text="${cat.nombre}" th:if="${cat.idcategoria != 10}" />
							</select>
						</div>
						<div class="row form-group">
							<input type="file" name="file" class="m-2" />
						</div>
					</div>
					<div class="card-footer">
						<input type="submit" value="Guardar" class="btn-success"/>
					</div>
				</div>
			</form>
		</div>
	</div>
</body>
</html>