<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<title>Insert title here</title>
<link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.min.css}" />
<script type="text/javascript" th:src="@{/js/jquery-3.5.1.min.js}"></script>
<script type="text/javascript" th:src="@{/js/bootstrap.min.js}"></script>
<script type="text/javascript" th:src="@{/js/popper.min.js}"></script>
</head>
<body>
	<div class="container mt-4">
		<h1 class="text-primary">Registrarse</h1>
		<hr>
		<form th:action="@{/registrar}" th:object="${usuario}" method="post">
			<div class="form-row">
				<div class="col-md-6 mb-3">
					<label>Ingrese Nombres:</label> <input class="form-control"
						type="text" th:field="*{nombre}" placeholder="Ingrese Nombre"
						required="required" />
						<small class="form-text text-danger" th:if="${#fields.hasErrors('nombre')}" th:errors="*{nombre}"></small>
				</div>
				<div class="col-md-6 mb-3">
					<label>Ingrese Apellidos:</label> <input class="form-control"
						type="text" th:field="*{apellidos}"
						placeholder="Ingrese Apellidos" required="required" />
					<small class="form-text text-danger" th:if="${#fields.hasErrors('apellidos')}" th:errors="*{apellidos}"></small>
				</div>
			</div>
			<div class="form-row">
				<div class="col-md-6 mb-3">
					<label>Ingrese Correo:</label> <input class="form-control"
						type="email" th:field="*{correo}" placeholder="Ingrese Correo" required="required" />
						<small class="form-text text-danger" th:if="${#fields.hasErrors('correo')}" th:errors="*{correo}"></small>
				</div>
				<div class="col-md-6 mb-3">
					<label>Contraseña:</label> <input class="form-control" type="password"
						th:field="*{password}" placeholder="*****" required="required" />
						<small class="form-text text-danger" th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></small>
				</div>
			</div>
			<div class="form-row">
				<div class="col-md-6 mb-3">
					<label>Ingrese DNI:</label> <input class="form-control"
						type="text" th:field="*{dni}" placeholder="Ingrese DNI" required="required" />
						<small class="form-text text-danger" th:if="${#fields.hasErrors('dni')}" th:errors="*{dni}"></small>
				</div>
				<div class="col-md-6 mb-3">
					<label>Ingrese Direccion:</label> <input class="form-control" type="text"
						th:field="*{direccion}" placeholder="Ingrese Direccion" required="required" />
						<small class="form-text text-danger" th:if="${#fields.hasErrors('direccion')}" th:errors="*{direccion}"></small>
				</div>
				</div>
			<input type="hidden" th:field="*{idusuario}" /> <br>
			<div class="form-row">
				<div class="col-12 text-center">
					<button type="submit" class="btn btn-primary">Guardar</button>
				</div>
			</div>
		</form>
	</div>
</body>
</html>