/*!
 * Custom v1.0.0 (local)
 * Leftright 2020 Project Authors
 */
 .card-login{
 	width: 40rem;
 	margin: 0 auto;
 }
 .producto-item img{
    max-height: 85px;
    max-width: 85px;
    margin: 10px auto 0;
 }
 .producto-item .title{
 	margin-bottom: 0;
 }
 .mini-cart-icon label{
 	color: orange;
    width: 30px;
    text-align: center;
 }
 .navbar-left-options li a{
 	position: relative;
 	top: 4px;
 }
 .navbar-brand{
 	position: relative;
 	top: -2px;
 }
 .container-carrito-js{
 	margin-top: 50px;
 }
 .carrito-title{
 	margin-bottom: 50px;
 }
 .carrito-title small{
 	margin-left: 15px;
 	font-size: 60%;
 }
 .picture-cart img{
 	max-width: 30px;
 }
 .quantity-cart{
 	text-align: center;
 }
 .money-cart{
 	text-align: right;
 }
 .remove-cart{
 	text-align: center;
 }
 
 
 
 
 
 
 
 
 
 